* {
	margin: 0;
	padding: 0;
	font-family: Prata;
}

body {
	background-image: url("../images/image4.jpeg");
	background-size: cover;
}

#wrapper {
	max-width: 500px;
	margin: 200px auto;
	background-color: white;
	border-radius: 10px;
}

#wrapper>.row {
	padding: 20px;
}

#register_text, #authenticate_text {
	text-align: center;
	font-size: 30px;
}

#register_form {
	display: none;
}

#error_msg_login {
	display: none;
}